body {
	background-image: url('images/soccer_background.jpg');
	background-repeat: no-repeat; 
	background-size: cover;  
}



		.dynamic{
			width: 100%;
			margin: 0 auto;
		}



		ul.tabs{
			margin: 0px;
			padding: 0px;
			list-style: none;
		}
		ul.tabs li{
			background: none;
			color: #222;
			display: inline-block;
			padding: 10px 15px;
			cursor: pointer;
		}

		ul.tabs li.current{
			background: #ededed;
			color: #222;
		}

		.tab-content{
			display: none;
			background: #ededed;
			padding: 15px;
		}

		.tab-content.current{
			display: inherit;
		}



header {

	background: red; 
	font-size: 200%;
	padding: 25px;
	color: white;
	opacity:0.3;
	text-align:center;
	font-family: Georgia;
}




section#content {
	
	position: absolute;
	margin-top:10%;
   	left: 10%;
  	width: 80%;
	background: rgb(240, 248, 255);
	opacity: 0.7;

}


